body {
  background-image: url('imagenes/nbaWallpaper2.png');
  background-color: black;
  background-size: contain; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  width: 80%; /* Establece el ancho del cuerpo al 80% de la ventana */
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
